* {
    margin: 0 auto;
    padding: 0;
}
h1 {
    text-align: center;
    margin-bottom: 3em;
}
.imageContainer {
    display: flex;
    flex-direction: column;
}
img {
    object-fit: contain;
    margin-top: 8px;
}
img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
  }