@media only screen and (max-width: 600px) {
    body {
        background-color: gray;
    }
    .section1 {
        border: 3px solid navy;
        border-radius: 20px;
        padding: 5px;
        text-align: center;
        background-color: lightgray;
        grid-column: 1;
        grid-row: 1;
        width: 350px;
    }
    
    .section2 {
        border: 3px solid navy;
        border-radius: 20px;
        padding: 5px;
        background-color: lightgray;
        text-align: center;
        grid-column: 1;
        grid-row: 2;
        width: 350px;
    }
    
    .section3 {
        border: 3px solid navy;
        border-radius: 20px;
        padding: 5px;
        background-color: lightgray;
        text-align: center;
        grid-column: 1;
        grid-row: 3;
        width: 350px;
    }
}