@media (min-width: 750px) {
    nav {
        flex-direction: row;
    }
    nav div {
        padding-top: 25px;
    }
    .logo {
        margin-bottom: -9px;
        width: 200px;
        height: auto;
        border-radius: 10% 10% 0 0;
    }
    nav a {
        font-size: 1.75rem;
    }
}