* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}
header {
    position: relative;
    background-image: linear-gradient(rgb(0, 35, 0),#156c41);
    margin: 0 auto;
    color: white;
    padding: 5px;
}
header,
nav,
body,
footer {
    margin: 0 auto;
}
.promotion {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    text-align: center;
    margin: 0 auto;
    display: none;
}
.headerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    border-bottom: 3px solid #DADAD9;
}
.headHeader {
    margin: 0px;
    padding: 10px;
}
.headerDate {
    grid-column: 3/ 6;
    text-align: center;
    grid-row: 2;
    bottom: 10%;
    font-size: 1.5em;
}
.navigation li {
    display: none;
    justify-content: center;
    list-style-position: outside;
}
.navigation {
    margin: 0 auto;
    list-style: none;
    color: white;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    display: block;
}
.navigation a {
    text-decoration: none;
    transition: 0.5s;
    display: block;
}
#menu {
    text-decoration: none;
    font-size: 4em;
    list-style: none;
    text-align: center;
}
a.fa.fa-facebook {
    font-size: 40px;
    text-decoration: none;
    justify-self: end;
}
a.fa.fa-twitter {
    font-size: 40px;
    text-decoration: none;
    justify-self: center;
}
a {
    color: white;
}
a:visited {
    color: white;
}
.responsive li {
    display: block;
}
ul.navigation.responsive {
    background-image: url('../images/bannerImage.jpg');
    background-size: cover;
}
.responsive #menu::before {
    content: "X";
}
h1 {
    font-size: 2.25em;
}
p {
    padding: 5px;
    margin: 10px;
    color: white;
    font-size: 1.2em;
}
.logo{
    width: 100px;
    height: auto;
    border-radius: 25px;
    margin: 1px;
}
nav a:hover {
    background-color: white; opacity: .75;
    color: black;
}
main {
    align-items: center;
    background-color: #156c41;
}
.welcomeHeader {
    position: relative;
    right: 100px;
}
h2 {
    color: white;
    text-shadow: 0 0 3px black;
    font-size: 1.75em;
    margin: 20px;
}
h3 {
    margin: 15px;
    color: white;
}
article {
    background-image: linear-gradient(#5D4A66, rgb(41, 14, 41));
    border: 2px outset #DADAD9;
    text-align: center;
    margin: 2px;
}
article:first-child {
    margin-top: 0px;
}
article:last-child {
    margin-bottom: 0px;
}
.welcomeA {
    background-image: url('../images/mountainImage.jpg');
    background-size: cover;
    background-position: center;
}
.joinButton {
    width: 10em;
    height: 2.5em;
    color: white;
    border-radius: 25px;
    position: relative;
    left: 100px;
    background-color: #156c41;
    font-size: 1.5em;
}
.weatherHeader2 {
    border-bottom: 1px solid #DADAD9;
}
.joinA {
    display: none;
}
.spotlightImage {
    width: 200px;
    height: auto;
}
.spotlightHeader2 {
    border-top: 1px solid #DADAD9;
}
.spotlight2 {
    margin-bottom: 0px;
}
.spotlight2Image {
    width: 143px;
    height: auto;
}
.spotlight2Header2 {
    border-top: 1px solid #DADAD9;
}
.spotlight3 {
    display: none;
    margin-bottom: 0px;
}

.footerLogo {
    width: 100px;
    height: auto;
    border-radius: 25px;
    margin-top: 5px;
}
.footerDate {
    margin-top: 10px;
}
footer {
    background-image: linear-gradient(#156c41, rgb(0, 35, 0));
    color: white;
    text-align: center;
    font-size: 1.25em;
}

