* {
    margin: 0 auto;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
}
body {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    text-shadow: black 0.1em 0.1em 0.2em;
}
header {
    position: relative;
    background-image: linear-gradient(rgb(0, 35, 0),#156c41);
    margin: 0 auto;
    color: white;
    padding: 5px;
}
header,
nav,
body,
footer {
    margin: 0 auto;
}
.promotion {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    text-align: center;
    margin: 0 auto;
    display: none;
}
.headerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    border-bottom: 3px solid #DADAD9;
}
.headHeader {
    margin: 0px;
    padding: 10px;
}
.headerDate {
    grid-column: 3/ 6;
    text-align: center;
    grid-row: 2;
    bottom: 10%;
    font-size: 1.5em;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.navigation li {
    display: none;
    justify-content: center;
    list-style-position: outside;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.navigation {
    margin: 0 auto;
    list-style: none;
    color: white;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    display: block;
}
.navigation a {
    text-decoration: none;
    transition: 0.5s;
    display: block;
}
#menu {
    text-decoration: none;
    font-size: 4em;
    list-style: none;
    text-align: center;
}
a.fa.fa-facebook {
    font-size: 40px;
    text-decoration: none;
    justify-self: end;
}
a.fa.fa-twitter {
    font-size: 40px;
    text-decoration: none;
    justify-self: center;
}
a {
    color: white;
}
a:visited {
    color: white;
}
.responsive li {
    display: block;
}
ul.navigation.responsive {
    background-image: url('../images/bannerImage.jpg');
    background-size: cover;
}
.responsive #menu::before {
    content: "X";
}
h1 {
    font-size: 2.25em;
}
p {
    padding: 5px;
    margin: 10px;
    color: white;
    font-size: 1.2em;
}
.logo{
    width: 100px;
    height: auto;
    border-radius: 25px;
    margin: 1px;
}
nav a:hover {
    background-color: white; 
    opacity: .75;
    color: black;
}
main {
    background-image: linear-gradient(#156c41, rgb(0, 35, 0));
}
.welcomeHeader {
    position: relative;
    right: 100px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
h2 {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 1.75em;
    margin: 20px;
}
h3 {
    margin: 15px;
    color: white;
}
article {
    background-image: linear-gradient(#574d68, #87BBA2);
    border: 2px outset #DADAD9;
    text-align: center;
    margin: 2px;
    border-radius: 15px;
    color: white;
}
article:first-child {
    margin-top: 0px;
}
article:last-child {
    margin-bottom: 0px;
}
.welcomeA {
    background-image: url('../images/newHeroImageSmall.jpg');
    background-image: -webkit-image-set(
        url("../images/newHeroImageSmall.jpg") 1x,
        url("../images/newHeroImageMedium.jpg") 2x,
        url("../images/newHeroImage.jpg") 3x);
    background-image: image-set(
        url("../images/newHeroImageSmall.jpg") 1x,
        url("../images/newHeroImageMedium.jpg") 2x,
        url("../images/newHeroImage.jpg") 3x);
    background-size: cover;
    background-position: center;
}
.joinButton {
    width: 10em;
    height: 2.5em;
    color: white;
    border-radius: 25px;
    position: relative;
    left: 100px;
    background-image: linear-gradient(#87BBA2, #156c41);
    font-size: 1.5em;
}
.weatherHeader2 {
    border-bottom: 1px solid #DADAD9;
}
.joinA {
    display: none;
}
.joinAButton {
    background-image: linear-gradient(#87BBA2, #156c41);
}
.spotlightImage {
    width: 200px;
    height: auto;
}
.spotlightHeader2 {
    border-top: 1px solid #DADAD9;
}
.spotlight2 {
    margin-bottom: 0px;
}
.spotlight2Image {
    width: 143px;
    height: auto;
}
.spotlight2Header2 {
    border-top: 1px solid #DADAD9;
}
.spotlight3 {
    display: none;
    margin-bottom: 0px;
}

.footerLogo {
    width: 100px;
    height: auto;
    border-radius: 25px;
    margin-top: 5px;
}
.footerDate {
    margin-top: 10px;
}
footer {
    background-image: linear-gradient(rgb(0, 35, 0), #156c41);
    color: white;
    text-align: center;
    font-size: 1.25em;
}

/* Discover Page CSS */


.discoverFood, .discoverMarket, .discoverHiking, 
.discoverMusic, .discoverBaseball {
    width: 90%;
    margin: 0 auto 20px;
}

.discoverFood img, .discoverMarket img, .discoverHiking img, 
.discoverMusic img, .discoverBaseball img {
    width: 75%;
    height: auto;
    border-radius: 25px;
    border: solid white;
}


/* Discover Page Elements */

.discoverHeader {
    margin-bottom: 10%;
    margin-top: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    border-radius: 15px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.timeBetweenVisits {
    font-size: 25px;
}


/* Join Page Styles */


.joinDiv {
    margin-top: 0;
    
}
.joinHeader {
    font-size: 1.5em;
    margin-top: 0%;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.form1 {
    display: block;
    text-align: center;
}
input {
    border-radius: 5px;
    display:inline-block;
    font-size: 1.5em;
}
label {
    color: white;
    text-align: center;
    display: block;
    margin-bottom: -10px;
    margin-top: 10px;
    font-size: 1.5em;
    text-shadow: black 0.1em 0.1em 0.2em;
}
table {
    color: white;
    border: 1px solid white;
    background-image: linear-gradient(#87BBA2, #156c41);
    border-collapse: collapse;
    
}
th, td {
    border: 1px solid white;
}
#submitButton {
    background-color: #87BBA2;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/* Thank You page */


.thankYouHeader {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}
.thankYouImage {
    width: 300px;
    display: flex;
}
.thankYouHeader2 {
    margin: 0 auto;
    width: 80%;
}

/* Directory and Wireframes Styles */

.wireframeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#87BBA2, #156c41);
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 40px;
    width: 90%;
}
.directoryWrapper {
    background-image: linear-gradient(#156c41, rgb(0, 35, 0));
}
.directoryNames {
    border-bottom: 2px solid white;
}
.directoryHeader {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2em;

}
.wireframeWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#156c41, rgb(0, 35, 0));
}
.wireframesHeader {
    margin-top: 0;
    margin-bottom:25px;
    font-size: 2em;
}
.wireframeLink {
    font-size: 1.2em;
}
#currentTemp {
    text-shadow: black 0.1em 0.1em 0.2em;
}
#caption:first-letter {
    text-transform: uppercase;
}
#caption {
    text-shadow: black 0.1em 0.1em 0.2em;
}