@media only screen and (min-width: 1200px) {

    #menu {
        display: none;
    }
    .navigation li {
        display: grid;
        display: inline;
    }
    nav ul {
        display: grid;
		grid-template-columns: repeat(4, 1fr);
	} 
    .navigation {
        max-width: 1200px;
        justify-content: center;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 5em;
        margin-top: 15px;
    }
    .navigation ul li {
        margin: 0;
        padding: 0;
    }
    .headerGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr .25fr;
        position: relative;
    }
    nav {
        background-image: none;
    }
    .headHeader {
        font-size: 2em;
        margin: 0;
        grid-column: 2 / 4;
        position: relative;
        top: 10%;
    }
    .headerDate {
        grid-column: 3;
        text-align: center;
        grid-row: 2;
        bottom: 10%;
        font-size: 2.5em;
        position: absolute;
    }
    .logo {
        width: 150px;
        height: auto;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    footer {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr .30fr;
        text-align: unset;
    }
    .footerLogo {
        grid-column: 2 / 3;
        margin: 5px;
        width: 150px;
        height: auto;
    }
    .footerHeader {
        grid-column: 3 / 7;
        grid-row: 1 / 2;
        justify-content: center;
    }
    .footerInfo {
        grid-column: 8 / 10;
        justify-content: center;
        align-items: center;
    }
    .footerTag {
        grid-column: 2 / 8;
        grid-row: 2;
        margin-top: 10px;
    }
    .footerDate {
        grid-column: 7 / 11;
        grid-row:2;
        margin-top: 10px;
        text-align: center;
    }
    ul.navigation.responsive {
        background-image: none;
    }
}