@media only screen and (min-width: 767px) {
    .responsive #menu::before {
        visibility: visible;
    }
    .logo {
        margin-bottom: -9px;
        width: 150px;
        height: auto;
        border-radius: 25px;
    }
    nav a {
        font-size: 1.75rem;
    }
    .headHeader {
    margin-left: 10px;
    margin-right: 10px;
    }
    .headerDate {
        grid-column: 3 / 5;
        justify-content: center;
    }
    .spotlight {
        display: grid;
        grid-template-columns: 1fr, 1fr;   
    }
    .spotlight1 {
        grid-column: 1;
    }
    .spotlight2 {
        grid-column: 2;
    }
    header a{
        flex: auto;
        flex-direction: row;
        text-align: center;
    }
    a.fa.fa-facebook {
        font-size: 4em;
        margin: 0;
        width: auto;
    }
    a.fa.fa-twitter {
        font-size: 4em;
        margin: 0;
        width: auto;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr .5fr;
    }
    .footerLogo {
        grid-column: 1;
        margin: 5px;
    }
    .footerHeader {
        margin-top: 20px;
        grid-column: 2 / 4;
    }
    .footerInfo {
        grid-column: 4;
    }
    .footerTag {
        grid-column: 2 / 4;
        grid-row: 2;
    }
    .footerDate {
        grid-column: 2 / 4;
        grid-row:2;
        margin-top: 50px;
    }
}