@media only screen and (min-width: 767px) {
    .responsive #menu::before {
        visibility: visible;
    }
    .logo {
        margin-bottom: -9px;
        width: 300px;
        height: auto;
        border-radius: 20% 20% 0 0;
    }
    nav a {
        font-size: 1.75rem;
    }
    .headHeader {
    margin-left: 10px;
    margin-right: 10px;
    }
    .spotlight {
        display: grid;
        grid-template-columns: 1fr, 1fr;   
    }
    .spotlight1 {
        grid-column: 1;
    }
    .spotlight2 {
        grid-column: 2;
    }
    header a{
        flex: auto;
        flex-direction: row;
        text-align: center;
    }
    a.fa.fa-facebook {
        font-size: 4em;
        margin: 0;
        width: auto;
    }
    a.fa.fa-twitter {
        font-size: 4em;
        margin: 0;
        width: auto;
    }







}