@media only screen and (min-width: 32.5em) {
    #name {
        margin-top: 125px;
        text-shadow: 2.5px 2.5px black;
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 50px;
    }
    body {
        background-color: gray;
        color: white;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        border: 1px black;
    }
    #header1 {
        color: white;
        text-shadow: 2px 2px 4px #000000;
        font-size: 2em;
      }
    #photo {
        width: 400px;
        height: auto;
        float: left;
        border-radius: 25px;
    }
    #topOfPage {
        display: grid;
        grid-template-columns: 3;
        gap: 1.5px;
        background-color: skyblue;
        border-radius: 15px;
        border: 2px solid black;
        padding: 5px;
        box-shadow: 2.5px 2.5px black;
    }
    #name {
        margin-top: 125px;
        text-shadow: 2.5px 2.5px black;
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 40px;
    }   
    li {
        color: white;
        text-shadow: 2px 2px 4px #000000;
    }
    li {
        margin-bottom: 5px;
    }
    footer {
        font-size: 1em;
    }
}