header, main {
    position: relative;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
h1 {
    display: flex;
    justify-content: center;
    margin: 0;
}
h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}
img {
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
    margin-bottom: 20px;
}
h3 {
    border: 2px solid white;
    padding: 5px;
}